<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%thread] [%logger{36}] [%level] -> %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-OUT" class="ch.qos.logback.core.FileAppender">
        <file>./logs/PressFBot.out.log</file>
        <append>false</append>
        <encoder>
            <pattern>[%thread] [%logger{36}] [%level] -> %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE-ERR" class="ch.qos.logback.core.FileAppender">
        <file>./logs/PressFBot.error.log</file>
        <append>false</append>
        <encoder>
            <pattern>[%thread] [%logger{36}] [%level] -> %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Add debugging to PressFBot -->
    <logger name="dev.august.discord.pressfbot" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- Add JDA debugging -->
    <logger name="net.dv8tion.jda" level="info" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-OUT"/>
    </root>

    <root level="ERROR">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE-ERR"/>
    </root>
</configuration>